{# Este componente se ha dejado vacío intencionadamente para no mostrar información del usuario en el encabezado. #}

<div class="bg-white p-4 text-gray-600 w-full rounded-2xl">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-lg font-semibold">
        {% if request.session.estudiante_id and estudiante %}
          {% if estudiante.is_anonymous %}
              Anónimo
          {% else %}
              {{ estudiante.email }}
          {% endif %}
        {% else %}
            Encuestas
        {% endif %}
      </h1>
    </div>
</div>
  